<?xml version="1.0" encoding="UTF-8"?>
<!-- ComerZZia 3.0 Copyright (c) 2008-2015 Comerzzia, S.L. All Rights Reserved. 
	THIS WORK IS SUBJECT TO SPAIN AND INTERNATIONAL COPYRIGHT LAWS AND TREATIES. 
	NO PART OF THIS WORK MAY BE USED, PRACTICED, PERFORMED COPIED, DISTRIBUTED, 
	REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED, COLLECTED, 
	COMPILED, LINKED, RECAST, TRANSFORMED OR ADAPTED WITHOUT THE PRIOR WRITTEN 
	CONSENT OF COMERZZIA, S.L. ANY USE OR EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION 
	COULD SUBJECT THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY. CONSULT THE 
	END USER LICENSE AGREEMENT FOR INFORMATION ON ADDITIONAL RESTRICTIONS. -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>comerzzia-backoffice</display-name>

	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<!-- spring context initialization -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/comerzzia-*context.xml</param-value>
	</context-param>
	<listener>
		<description>Spring Context Loader</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>